{% extends "base.html" %}
{% block subtitulo %}Gerenciamento de Produtos{% endblock %}
{% block conteudo %}
<div class="d-flex justify-content-between align-items-center">
    <h1>Gerenciamento de Produtos</h1>
    <a href="/usuario/cadastrar_produto" class="btn btn-danger">Cadastrar Produto</a>
</div>
<hr>
<table class="table table-striped table-hover table-sm mb-0">
    <thead>
        <tr>
            <th>Foto</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for i in range(1, 13) %}
        <tr>
            <td><img src="/static/img/produto/{{'{:04d}'.format(i)}}.jpg" class="img-thumbnail" width="48px"></td>
            <td>{{ lipsum(1, False, 3, 4) }}</td>
            <td>R$ {{ "{:,.2f}".format(14.99) }}</td>
            <td>
                <a href="/usuario/alterar_produto/{{ i }}" class="btn btn-primary btn-small">
                    <i class="bi bi-pencil"></i>
                </a>
                <a href="/usuario/excluir_produto/{{ i }}" class="btn btn-danger btn-small">
                    <i class="bi bi-trash"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}